/**/
/*lab 12 part 2 css*/
*{/*change entire page*/
  font-family:sans-serif;/*change font family to sans-sefir*/
  color: #24174a;
  text-align: center;
}

p{
    font-size:12px;/*change font size to 12px*/
    text-decoration:line-through;
}

h1{
    text-transform: uppercase; /*makes things uppercase*/
    margin: 50px; /*gives 20px of space*/
    padding: 20px;
    background-color: pink;
}
/*change header h1 and h2 to gray*/
h2{
  margin-left:100px;
  margin-right:100px;
  padding:10px;
    background-color: #24174a;
    color: pink;
    text-decoration:underline;/*use text decoration to underline the text*/
}
/*add an ID selector for #intro */
#intro{
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
/*add an class selector for spotlight*/
.spotlight{
  background-color: #fefe22;
}
body{
  background-color: purple;
}

div{
  background-color: pink;
  margin: 40px; /*gives 20px of space*/
  padding: 10px;
}

li{
  text-align:left;
}

a{
  text-decoration: none;
  padding:5px;
  margin:20px;
  background-color: #9b8bc9;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 100px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color:white;
  background-color: #361642;
}

a:active {
  text-decoration: underline;
}
